{% if breadcrumbs.get() %}
<nav aria-label="Breadcrumb">
    <ol class="breadcrumbs">
        {% for crumb in breadcrumbs.get() %}
            {% if loop.last %}
                <li aria-current="page">{{ crumb.title }}</li>
            {% else %}
                <li><a href="{{ crumb.url }}">{{ crumb.title }}</a></li>
            {% endif %}
        {% endfor %}
    </ol>
</nav>
{% endif %}
